<%- include("partials/header.ejs") %>

    <section id="title">
        <div class="container-title">
            <h1>Contact Me</h1>
        </div>
    </section>

    <section id="Profile">
        <div class="container-Profile container-Profile-contact">
            <P class="contact-note">***Please text massage or E-mail me befor making a call***</P>
            <p class="contact-ph-number">Tel: <a class="contact-ph-number" href="tel:+17780000000">+1(778)000-0000</a></P>
            <p class="contact-email">Email: <a class="contact-email" href="mailto:testing@gmail.com">testing@gmail.com</a></p>
        </div>
    </section>

    <section id="content">
        <div class="container-content">           
            <table >
               
                <div class="sub-title"></div>
                    <caption><h2>Available Hours:</h2></caption>
                </div>
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Time</th>
                    </tr>
        
                </thead>
        
                <tbody>
                    <tr>
                        <td>Mon</td>
                        <td>: 09:00-17:00</td>
                    </tr>
                    <tr>
                        <td>Tue</td>
                        <td>: 09:00-17:00</td>
                    </tr>
                    <tr>
                        <td>Wed</td>
                        <td>: 09:00-17:00</td>
                    </tr>
                    <tr>
                        <td>Thu</td>
                        <td>: 09:00-17:00</td>
                    </tr>
                    <tr>
                        <td>Fri</td>
                        <td>: 09:00-17:00</td>
                    </tr>
                    <tr>
                        <td>Sat & Sun</td>
                        <td>: OFF</td>
                    </tr>
                </tbody>
                
                <tfoot>
                    <tr>
                        <th>Statutory Holidays</th>
                        <td>: OFF</td>
                    </tr>
                </tfoot>
            </table>

            <hr />
            <p class="contact-note">Loaction: Vancouver, BC, Canada</p>
        </div>
    </section>


<%- include("partials/footer.ejs") %>    

  