<%- include("partials/header.ejs") %>
    
<section id="title">
    <div class="container-title">
        <h1>Hubert Wu</h1>
    </div>
</section>

<section id="Profile">
    <div class="container-Profile">
        <div class="Photo-Profile">
            <img class="Photo-Profile" src="./images/Photo-Profile.jpeg" alt="Hubert's photo">
        </div>

        <div class="button-Profile">
            <div class="position-right">
                <a class="button-contactme" href="/contact">Contact Me</a>
            </div>
            <div class="position-left">
                <a class="button-aboutme" href="/aboutme">About Me</a>
            </div>
        </div>
        <div>
            <img class="robot" src="./images/robot.png" alt="robot">
        </div>
    </div>
</section>

<section id="content">
    <div class="container-content">
        <div class="sub-title">
            <img class="icon-robot"src="./images/robot.svg" alt="robot-icon">
            <h2>SUMMARY OF QUALIFICATIONS</h2>
        </div>

        <ul class="list-setting">
            <li>Work well under pressure</li>
            <li>Organized and attentive to detail</li>
            <li>Positive thinking and willing to learn new things</li>
            <li>Punctuality</li>
            <li>Honest to myself, employer, and coworkers</li>
        </ul>

        <hr class="hr-homepage" />

        <div class="sub-title">
            <img class="icon-robot"src="./images/robot.svg" alt="robot-icon">
            <h2>EDUCATION</h2>
        </div>

        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Culinary Arts Program, Professional Cook Level 1, 2
                    </div>
                    <div class="content-right">  
                        2019 – 2021
                    </div>
                    <br />
                    Vancouver Community College, Vancouver, BC
                    <br />
                    GPA: 4.15/4.33
                </div>
            </li>
        </ul>
        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Master of Science in Electrical Engineering
                    </div>
                    <div class="content-right">
                        2013 – 2016
                    </div>
                    <br />
                    National Taiwan University, Taipei, Taiwan
                    <br />
                    GPA: 3.99/4.3
                </div>

            </li>
        </ul>
        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Bachelor of Science in Engineering
                    </div>
                    <div class="content-right">
                        2009 – 2013
                    </div>
                    <br />
                    Tunghai University, Taichung, Taiwan
                    <br />
                    GPA: 3.91/4.3
                </div>
            </li>
        </ul>
        <hr class="hr-homepage" />

        <div class="sub-title">
            <img class="icon-robot"src="./images/robot.svg" alt="robot-icon">
            <h2>EXPERIENCE</h2>
        </div>

        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Dinner Cook
                    </div>
                    <div class="content-right">  
                        May, 2022 – Present
                    </div> 
                    <br/>
                    WestCana Services Inc.
                    <br />
                    Vancouver, BC, Canada
                    <ul>
                        <li>
                            Prep and cook dinner alone for 80 people 4 days a week
                        </li>
                        <li>
                            Cowork with a Head Chef to accomplish a catering event for 200 people
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        2nd Cook
                    </div>
                    <div class="content-right">  
                        Jul., 2021 – May, 2022
                    </div> 
                    <br/>
                    Wedgewood Hotel (Bacchus)
                    <br />
                    Vancouver, BC, Canada
                    <ul>
                        <li>
                            Prep and line work of lounge station
                        </li>
                        <li>
                            Line work of GM, dessert station, in room dinning and oyster station
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Assistant Cook
                    </div>
                    <div class="content-right">  
                        Sep., 2020 – Jan., 2021
                    </div> 
                    <br/>
                    Weirdo Café Ltd.
                    <br />
                    Vancouver, BC, Canada
                    <ul>
                        <li>
                            Prep daily ingredients to meet tight timelines
                        </li>
                        <li>
                            Assistant cook with cooking skill: Grill, Deep fry, Roast, Torch
                        </li>
                        <li>
                            Receiving and storage goods
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Volunteer Kitchen Helper
                    </div>
                    <div class="content-right">  
                        Nov., 2019 – Mar., 2020
                    </div> 
                    <br/>
                    Culinary Arts Program, Vancouver Community College
                    <br />
                    Vancouver, BC, Canada
                    <ul>
                        <li>
                            Assisted chef in preparing dishes
                        </li>
                        <li>
                            Provided assistance at various stations
                        </li>
                        <li>
                            Kitchen cleaning
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Tutor
                    </div>
                    <div class="content-right">  
                        2016– 2017
                    </div>
                    <br/>
                    Self-employed
                    <br />
                    Taichung, Taiwan
                    <ul>
                        <li>
                            Main subjects: Math, Science, and Electronics
                        </li>
                        <li>
                            Developed listening skills and improved communication skills
                        </li>
                        <li>
                            Time management
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="list-setting">
            <li>
                <div>
                    <div class="content-left">
                        Teaching Assistant
                    </div>
                    <div class="content-right">  
                        2011– 2012
                    </div>
                    <br/>
                    Dept. of Electrical Engineering, Tunghai University
                    <br />
                    Taichung, Taiwan
                    <ul>
                        <li>
                            Communicated effectively with professors(Manager)
                        </li>
                        <li>
                            Organized classes and edited handouts for teaching Electronics
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <hr class="hr-homepage" />

        <div class="sub-title">
            <img class="icon-robot"src="./images/robot.svg" alt="robot-icon">
            <h2>CERTIFICATION</h2>
        </div>

        <ul class="list-setting list-setting-certification">
            <li>
                <div>
                    <div class="content-left">
                        FOODSAFE Level 1
                    </div>
                    <div class="certification-year">  
                        Sep., 2019 – Sep., 2024
                    </div> 
                </div>
            </li>
        </ul>
    </div>
</section>


<%- include("partials/footer.ejs") %>    